<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Navigation</title>
   <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <div class="title">常用推荐</div>
    <div class="grid">
        <div class="card">
            <img src="/static/images/logo.png" alt="Example">
            <h3>Example</h3>
            <p>这是一个示例平台的描述</p>
        </div>

    </div>
</div>
</body>
</html>